<!DOCTYPE html>
<html>
	<head>
		<script src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load('jquery','1.7');
		</script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all">
	</head>
	<body>
		<%- body %>
	</body>
</html>
